{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'inventory/index.css' %}">
    <title>Memes</title>
  </head>
  <body>
    <nav>
      <a href="{% url 'memes-home' %}">Memes</a>
      <a href="{% url 'memes-about' %}">About our Memes</a>
      {% if user.is_authenticated %}
      <span>Hi {{user.username}}!</span>
      <a href={% url 'logout' %}><button>Logout</button></a>
        {% else %}
      <a href={% url 'login' %}><button>Login</button></a>
        {% endif %}
    </nav>

    <main>{% block content %} {% endblock content %}</main>
  </body>
</html>
